POSTGRES_ROOT_USER=postgres
POSTGRES_ROOT_PASSWORD=change_me_root
POSTGRES_ROOT_DB=postgres

RENTAL_DB_NAME=rentalcore_db
RENTAL_DB_USER=rental_user
RENTAL_DB_PASSWORD=change_me_rental

WAREHOUSE_DB_NAME=warehousecore_db
WAREHOUSE_DB_USER=warehouse_user
WAREHOUSE_DB_PASSWORD=change_me_warehouse
